.wraper{
    position: relative;
    display: inline-block;
    width: 20%;
    margin: 20px;
    text-align: center;
    height: 25vw;
    transition: all 0.5s linear;
}
.img{
    height: 80%;
}
.img img {
    width: 20vw;
    height: 20vw;
}
.title,.year{
    font-weight: bold;
    font-size: 1rem;
}
